"*":
  Zen:
    gutter: true
    softWrap: true
    tabs: "multiple"
    width: 120
  "activate-power-mode":
    autoToggle: false
    comboMode:
      streakTimeout: 3
  "atom-beautify":
    general:
      _analyticsUserId: "a69a2ebb-edd2-44d7-9cff-c4b744fa55b3"
  "atom-material-ui":
    colors:
      abaseColor: "#b71f1c"
      accentColor: "#3f51b5"
      predefinedColor: "Red"
    tabs:
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-plus":
    autoActivationDelay: 150
  "bracket-matcher":
    highlightMatchingLineNumber: true
  "color-picker":
    preferredFormat: "HEX"
    triggerKey: "E"
  core:
    closeEmptyWindows: false
    customFileTypes:
      "source.lua": [
        "layout"
        "flow"
        "mode"
      ]
    disabledPackages: [
      "goto"
      "activate-power-mode"
      "language-gfm"
      "ever-notedown"
      "atom-macros"
      "go-plus"
      "go-signature-statusbar"
      "split-diff"
      "project-plus"
      "welcome"
      "Zen"
      "background-tips"
      "color-picker"
      "git-time-machine"
      "about"
      "markdown-writer"
      "sync-settings"
      "project-manager"
      "language-babel"
    ]
    packagesWithKeymapsDisabled: [
      "intentions"
      "symbols-tree-view"
      "open-in-browser"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    fontFamily: "Source Code Pro"
    preferredLineLength: 115
    scrollPastEnd: true
    showIndentGuide: true
  "ever-notedown":
    theme: "Atom"
  "exception-reporting":
    userId: "9c14629c-0d47-ab4b-fc38-a4a3b044d49f"
  "git-blame":
    columnWidth: 417
  "git-plus":
    commits:
      verboseCommits: true
    experimental:
      diffBranches: true
      useSplitDiff: true
    logs:
      numberOfCommitsToShow: 7
    remoteInteractions:
      pullRebase: true
  "git-tabs":
    useConfirmNotification: true
  "go-plus":
    currentPanelHeight: "21.397849462365592vh"
    format:
      tool: "gofmt"
    panelDisplayMode: "closed"
  hyperclick:
    darwinTriggerKeys: "altKey"
  "keyboard-scroll":
    linesToScrollKeydown: 10
  "language-babel":
    autoIndentJSX: true
  linter:
    lintOnOpen: false
    lintPreviewTabs: false
  "linter-eslint":
    eslintrcPath: ".eslintrc"
  "linter-tslint":
    fixOnSave: true
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    breakOnSingleNewline: true
  "prettier-atom":
    formatOnSaveOptions:
      showInStatusBar: true
    useEslint: true
  "project-manager":
    alwaysOpenInSameWindow: true
    includeGitRepositories: true
    showPath: false
    sortBy: "last modified"
  "project-plus":
    showPath: true
  rspec:
    command: "RAILS_ENV=test bundle exec rspec -c --format documentation"
    force_colored_results: false
  script:
    stopOnRerun: true
  "split-diff":
    colors:
      addedColor: "#4b9851"
      overrideThemeColors: true
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "sync-settings":
    _lastBackupHash: "8e283ddcb4560fc6a06bbbd217c38589a6b7ddfa"
    gistId: "676cd3f08334654988994749d41b84fc"
    personalAccessToken: "d9bf754b6c432b4fc82ec6ee085c3cbb9cead8d6"
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
    showOnRightSide: false
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".basic.html.txt":
  editor:
    foldEndPattern: ""
".confluence.html.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".diff.source":
  editor:
    preferredLineLength: 115
    softWrapHangingIndent: 3
".evnd.gfm.html.inline.markdown.mathjax.source.text":
  editor:
    preferredLineLength: 115
    softWrap: true
    softWrapAtPreferredLineLength: true
".evnd.html.inline":
  editor:
    preferredLineLength: 115
".gfm.source":
  editor:
    softWrapAtPreferredLineLength: true
".git-commit.text":
  editor:
    preferredLineLength: 72
    scrollPastEnd: true
    softWrapHangingIndent: 3
".git-config.source":
  editor:
    preferredLineLength: 72
    softWrapHangingIndent: 3
".git-rebase.text":
  editor:
    preferredLineLength: 72
    softWrapHangingIndent: 3
".haml.text":
  editor:
    preferredLineLength: 84
    softWrapHangingIndent: 3
".hamlc.text":
  editor:
    preferredLineLength: 84
    softWrapHangingIndent: 3
".md.text":
  editor:
    softWrapAtPreferredLineLength: true
".plain.text":
  editor:
    preferredLineLength: 115
    softWrap: true
    softWrapAtPreferredLineLength: true
".racket.source":
  "bracket-matcher":
    autocompleteCharacters: [
      "()"
      "[]"
      "{}"
    ]
